body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 180px);
}
.aboutPresentacion {
  width: 90%;
  color: white;
  background-color: #a5a36c;
  box-shadow: 5px 5px 20px black;
  border-radius: 20px;
}

.imagenPerfil img {
  width: 150px;
  margin: 20px;
  border-radius: 20px;
}

.imagenPerfil {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenPerfil p {
  width: 60%;
  line-height: 20px;
}

.aboutPresentacion h2 {
  text-align: center;
  margin-top: 20px;
}

header {
  background: hsla(182, 75%, 48%, 1);

  background: linear-gradient(
    360deg,
    hsla(182, 75%, 48%, 1) 0%,
    hsla(182, 71%, 49%, 1) 50%,
    hsla(0, 0%, 85%, 1) 85%
  );

  background: -moz-linear-gradient(
    360deg,
    hsla(182, 75%, 48%, 1) 0%,
    hsla(182, 71%, 49%, 1) 50%,
    hsla(0, 0%, 85%, 1) 85%
  );

  background: -webkit-linear-gradient(
    360deg,
    hsla(182, 75%, 48%, 1) 0%,
    hsla(182, 71%, 49%, 1) 50%,
    hsla(0, 0%, 85%, 1) 85%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1ED0D6", endColorstr="#24D0D6", GradientType=1 );
  color: black;
  padding: 20px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s ease;
  font-weight: 600;
}

nav a:hover {
  color: #ff9900;
}

section {
  padding: 40px 0;
}

.project {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0, 2);
}

@media (max-width: 768px) {
  header {
    padding: 10px 0;
  }
  nav ul {
    text-align: center;
    padding-top: 10px;
    flex-direction: column;
  }
  nav ul li {
    display: block;
    margin-bottom: 10px;
  }
}
